div, ul, li {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none outside none;
}

/* layer begin */
.ios-select-widget-box.olay {
	position: absolute;
	z-index: 500;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background: rgba(0, 0, 0, 0.75);
}
.ios-select-widget-box.olay > div {
	position: fixed;
	z-index: 1000;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	bottom: 0;
	left: 0;
}
.ios-select-widget-box header.iosselect-header {
	height: .88rem;
	line-height: .88rem;
	background-color: #eee;
	width: 100%;
	z-index: 9999;
	text-align: center;
}
.ios-select-widget-box header.iosselect-header a {
	font-size: .32rem;
	color: #e94643;
	text-decoration: none;
}
.ios-select-widget-box header.iosselect-header a.close {
	float: left;
	padding-left: .3rem;
	height: .88rem;
	line-height: .88rem;
}
.ios-select-widget-box header.iosselect-header a.sure {
	float: right;
	padding-right: .3rem;
	height: .88rem;
	line-height: .88rem;
}
.ios-select-widget-box {
	padding-top: .88rem;
}
.ios-select-widget-box .one-level-contain,
.ios-select-widget-box .two-level-contain,
.ios-select-widget-box .three-level-contain {
	height: 100%;
	overflow: hidden;
}
.ios-select-widget-box .iosselect-box {
	overflow: hidden;
}
.ios-select-widget-box .iosselect-box > div {
	display: block;
	float: left;
}
.ios-select-widget-box ul {
	background-color: #fff;
}
.ios-select-widget-box ul li {
	font-size: .26rem;
	height: .7rem;
	line-height: .7rem;
	background-color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color: #111;
	opacity: .3;
}
.ios-select-widget-box ul li.at {
	font-size: .32rem;
	opacity: 1;
}
.ios-select-widget-box ul li.side1 {
	font-size: .3rem;
	opacity: .7;
}
.ios-select-widget-box ul li.side2 {
	font-size: .28rem;
	opacity: .5;
}
.ios-select-widget-box.one-level-box .one-level-contain {
    width: 100%;
}
.ios-select-widget-box.one-level-box .two-level-contain,
.ios-select-widget-box.one-level-box .three-level-contain,
.ios-select-widget-box.one-level-box .four-level-contain,
.ios-select-widget-box.one-level-box .five-level-contain,
.ios-select-widget-box.one-level-box .six-level-contain {
    width: 0;
}
.ios-select-widget-box.two-level-box .one-level-contain, 
.ios-select-widget-box.two-level-box .two-level-contain {
  width: 50%;
}
.ios-select-widget-box.two-level-box .three-level-contain,
.ios-select-widget-box.two-level-box .four-level-contain,
.ios-select-widget-box.two-level-box .five-level-contain,
.ios-select-widget-box.two-level-box .six-level-contain {
    width: 0;
}
.ios-select-widget-box.three-level-box .one-level-contain, 
.ios-select-widget-box.three-level-box .two-level-contain {
    width: 30%;
}
.ios-select-widget-box.three-level-box .three-level-contain {
    width: 40%;
}
.ios-select-widget-box.three-level-box .four-level-contain
.ios-select-widget-box.three-level-box .five-level-contain,
.ios-select-widget-box.three-level-box .six-level-contain {
    width: 0%;
}

.ios-select-widget-box.four-level-box .one-level-contain, 
.ios-select-widget-box.four-level-box .two-level-contain,
.ios-select-widget-box.four-level-box .three-level-contain,
.ios-select-widget-box.four-level-box .four-level-contain {
    width: 25%;
}
.ios-select-widget-box.four-level-box .five-level-contain,
.ios-select-widget-box.four-level-box .six-level-contain {
    width: 0%;
}

.ios-select-widget-box.five-level-box .one-level-contain, 
.ios-select-widget-box.five-level-box .two-level-contain,
.ios-select-widget-box.five-level-box .three-level-contain,
.ios-select-widget-box.five-level-box .four-level-contain,
.ios-select-widget-box.five-level-box .five-level-contain {
  width: 20%;
}
.ios-select-widget-box.five-level-box .six-level-contain {
  width: 0%;
}
.ios-select-widget-box .cover-area1 {
	width: 100%;
	border: none;
	border-top: 1px solid #d9d9d9;
	position: absolute;
	top: 2.98rem;
	margin: 0;
	height: 0;
}
.ios-select-widget-box .cover-area2 {
	width: 100%;
	border: none;
	border-top: 1px solid #d9d9d9;
	position: absolute;
	top: 3.66rem;
	margin: 0;
	height: 0;
}
.ios-select-widget-box #iosSelectTitle {
	margin: 0;
    padding: 0;
    display: inline-block;
    font-size: .32rem;
    font-weight: normal;
    color: #333;
}